<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for demo_flipkart_com" Description="Code analysis rules for demo_flipkart_com.csproj." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Hidden" />
    <Rule Id="CA1001" Action="Hidden" />
    <Rule Id="CA1002" Action="Hidden" />
    <Rule Id="CA1003" Action="Hidden" />
    <Rule Id="CA1004" Action="Hidden" />
    <Rule Id="CA1005" Action="Hidden" />
    <Rule Id="CA1006" Action="Hidden" />
    <Rule Id="CA1007" Action="Hidden" />
    <Rule Id="CA1008" Action="Hidden" />
    <Rule Id="CA1009" Action="Hidden" />
    <Rule Id="CA1010" Action="Hidden" />
    <Rule Id="CA1011" Action="Hidden" />
    <Rule Id="CA1012" Action="Hidden" />
    <Rule Id="CA1013" Action="Hidden" />
    <Rule Id="CA1014" Action="Hidden" />
    <Rule Id="CA1016" Action="Hidden" />
    <Rule Id="CA1017" Action="Hidden" />
    <Rule Id="CA1018" Action="Hidden" />
    <Rule Id="CA1019" Action="Hidden" />
    <Rule Id="CA1020" Action="Hidden" />
    <Rule Id="CA1021" Action="Hidden" />
    <Rule Id="CA1023" Action="Hidden" />
    <Rule Id="CA1024" Action="Hidden" />
    <Rule Id="CA1025" Action="Hidden" />
    <Rule Id="CA1026" Action="Hidden" />
    <Rule Id="CA1027" Action="Hidden" />
    <Rule Id="CA1028" Action="Hidden" />
    <Rule Id="CA1030" Action="Hidden" />
    <Rule Id="CA1031" Action="Hidden" />
    <Rule Id="CA1032" Action="Hidden" />
    <Rule Id="CA1033" Action="Hidden" />
    <Rule Id="CA1034" Action="Hidden" />
    <Rule Id="CA1035" Action="Hidden" />
    <Rule Id="CA1036" Action="Hidden" />
    <Rule Id="CA1038" Action="Hidden" />
    <Rule Id="CA1039" Action="Hidden" />
    <Rule Id="CA1040" Action="Hidden" />
    <Rule Id="CA1041" Action="Hidden" />
    <Rule Id="CA1043" Action="Hidden" />
    <Rule Id="CA1044" Action="Hidden" />
    <Rule Id="CA1045" Action="Hidden" />
    <Rule Id="CA1046" Action="Hidden" />
    <Rule Id="CA1047" Action="Hidden" />
    <Rule Id="CA1048" Action="Hidden" />
    <Rule Id="CA1049" Action="Hidden" />
    <Rule Id="CA1050" Action="Hidden" />
    <Rule Id="CA1051" Action="Hidden" />
    <Rule Id="CA1052" Action="Hidden" />
    <Rule Id="CA1053" Action="Hidden" />
    <Rule Id="CA1054" Action="Hidden" />
    <Rule Id="CA1055" Action="Hidden" />
    <Rule Id="CA1056" Action="Hidden" />
    <Rule Id="CA1057" Action="Hidden" />
    <Rule Id="CA1058" Action="Hidden" />
    <Rule Id="CA1059" Action="Hidden" />
    <Rule Id="CA1060" Action="Hidden" />
    <Rule Id="CA1061" Action="Hidden" />
    <Rule Id="CA1062" Action="Hidden" />
    <Rule Id="CA1063" Action="Hidden" />
    <Rule Id="CA1064" Action="Hidden" />
    <Rule Id="CA1065" Action="Hidden" />
    <Rule Id="CA1300" Action="Hidden" />
    <Rule Id="CA1301" Action="Hidden" />
    <Rule Id="CA1302" Action="Hidden" />
    <Rule Id="CA1303" Action="Hidden" />
    <Rule Id="CA1304" Action="Hidden" />
    <Rule Id="CA1305" Action="Hidden" />
    <Rule Id="CA1306" Action="Hidden" />
    <Rule Id="CA1307" Action="Hidden" />
    <Rule Id="CA1308" Action="Hidden" />
    <Rule Id="CA1309" Action="Hidden" />
    <Rule Id="CA1400" Action="Hidden" />
    <Rule Id="CA1401" Action="Hidden" />
    <Rule Id="CA1402" Action="Hidden" />
    <Rule Id="CA1403" Action="Hidden" />
    <Rule Id="CA1404" Action="Hidden" />
    <Rule Id="CA1405" Action="Hidden" />
    <Rule Id="CA1406" Action="Hidden" />
    <Rule Id="CA1407" Action="Hidden" />
    <Rule Id="CA1408" Action="Hidden" />
    <Rule Id="CA1409" Action="Hidden" />
    <Rule Id="CA1410" Action="Hidden" />
    <Rule Id="CA1411" Action="Hidden" />
    <Rule Id="CA1412" Action="Hidden" />
    <Rule Id="CA1413" Action="Hidden" />
    <Rule Id="CA1414" Action="Hidden" />
    <Rule Id="CA1415" Action="Hidden" />
    <Rule Id="CA1500" Action="Hidden" />
    <Rule Id="CA1501" Action="Hidden" />
    <Rule Id="CA1502" Action="Hidden" />
    <Rule Id="CA1504" Action="Hidden" />
    <Rule Id="CA1505" Action="Hidden" />
    <Rule Id="CA1506" Action="Hidden" />
    <Rule Id="CA1600" Action="Hidden" />
    <Rule Id="CA1601" Action="Hidden" />
    <Rule Id="CA1700" Action="Hidden" />
    <Rule Id="CA1701" Action="Hidden" />
    <Rule Id="CA1702" Action="Hidden" />
    <Rule Id="CA1703" Action="Hidden" />
    <Rule Id="CA1704" Action="Hidden" />
    <Rule Id="CA1707" Action="Hidden" />
    <Rule Id="CA1708" Action="Hidden" />
    <Rule Id="CA1709" Action="Hidden" />
    <Rule Id="CA1710" Action="Hidden" />
    <Rule Id="CA1711" Action="Hidden" />
    <Rule Id="CA1712" Action="Hidden" />
    <Rule Id="CA1713" Action="Hidden" />
    <Rule Id="CA1714" Action="Hidden" />
    <Rule Id="CA1715" Action="Hidden" />
    <Rule Id="CA1716" Action="Hidden" />
    <Rule Id="CA1717" Action="Hidden" />
    <Rule Id="CA1719" Action="Hidden" />
    <Rule Id="CA1720" Action="Hidden" />
    <Rule Id="CA1721" Action="Hidden" />
    <Rule Id="CA1722" Action="Hidden" />
    <Rule Id="CA1724" Action="Hidden" />
    <Rule Id="CA1725" Action="Hidden" />
    <Rule Id="CA1726" Action="Hidden" />
    <Rule Id="CA1800" Action="Hidden" />
    <Rule Id="CA1801" Action="Hidden" />
    <Rule Id="CA1802" Action="Hidden" />
    <Rule Id="CA1804" Action="Hidden" />
    <Rule Id="CA1806" Action="Hidden" />
    <Rule Id="CA1809" Action="Hidden" />
    <Rule Id="CA1810" Action="Hidden" />
    <Rule Id="CA1811" Action="Hidden" />
    <Rule Id="CA1812" Action="Hidden" />
    <Rule Id="CA1813" Action="Hidden" />
    <Rule Id="CA1814" Action="Hidden" />
    <Rule Id="CA1815" Action="Hidden" />
    <Rule Id="CA1816" Action="Hidden" />
    <Rule Id="CA1819" Action="Hidden" />
    <Rule Id="CA1820" Action="Hidden" />
    <Rule Id="CA1821" Action="Hidden" />
    <Rule Id="CA1822" Action="Hidden" />
    <Rule Id="CA1823" Action="Hidden" />
    <Rule Id="CA1824" Action="Hidden" />
    <Rule Id="CA1900" Action="Hidden" />
    <Rule Id="CA1901" Action="Hidden" />
    <Rule Id="CA1903" Action="Hidden" />
    <Rule Id="CA2000" Action="Hidden" />
    <Rule Id="CA2001" Action="Hidden" />
    <Rule Id="CA2002" Action="Hidden" />
    <Rule Id="CA2003" Action="Hidden" />
    <Rule Id="CA2004" Action="Hidden" />
    <Rule Id="CA2006" Action="Hidden" />
    <Rule Id="CA2100" Action="Hidden" />
    <Rule Id="CA2101" Action="Hidden" />
    <Rule Id="CA2102" Action="Hidden" />
    <Rule Id="CA2103" Action="Hidden" />
    <Rule Id="CA2104" Action="Hidden" />
    <Rule Id="CA2105" Action="Hidden" />
    <Rule Id="CA2106" Action="Hidden" />
    <Rule Id="CA2107" Action="Hidden" />
    <Rule Id="CA2108" Action="Hidden" />
    <Rule Id="CA2109" Action="Hidden" />
    <Rule Id="CA2111" Action="Hidden" />
    <Rule Id="CA2112" Action="Hidden" />
    <Rule Id="CA2114" Action="Hidden" />
    <Rule Id="CA2115" Action="Hidden" />
    <Rule Id="CA2116" Action="Hidden" />
    <Rule Id="CA2117" Action="Hidden" />
    <Rule Id="CA2118" Action="Hidden" />
    <Rule Id="CA2119" Action="Hidden" />
    <Rule Id="CA2120" Action="Hidden" />
    <Rule Id="CA2121" Action="Hidden" />
    <Rule Id="CA2122" Action="Hidden" />
    <Rule Id="CA2123" Action="Hidden" />
    <Rule Id="CA2124" Action="Hidden" />
    <Rule Id="CA2126" Action="Hidden" />
    <Rule Id="CA2130" Action="Hidden" />
    <Rule Id="CA2131" Action="Hidden" />
    <Rule Id="CA2132" Action="Hidden" />
    <Rule Id="CA2133" Action="Hidden" />
    <Rule Id="CA2134" Action="Hidden" />
    <Rule Id="CA2135" Action="Hidden" />
    <Rule Id="CA2136" Action="Hidden" />
    <Rule Id="CA2137" Action="Hidden" />
    <Rule Id="CA2138" Action="Hidden" />
    <Rule Id="CA2139" Action="Hidden" />
    <Rule Id="CA2140" Action="Hidden" />
    <Rule Id="CA2141" Action="Hidden" />
    <Rule Id="CA2142" Action="Hidden" />
    <Rule Id="CA2143" Action="Hidden" />
    <Rule Id="CA2144" Action="Hidden" />
    <Rule Id="CA2145" Action="Hidden" />
    <Rule Id="CA2146" Action="Hidden" />
    <Rule Id="CA2147" Action="Hidden" />
    <Rule Id="CA2149" Action="Hidden" />
    <Rule Id="CA2151" Action="Hidden" />
    <Rule Id="CA2200" Action="Hidden" />
    <Rule Id="CA2201" Action="Hidden" />
    <Rule Id="CA2202" Action="Hidden" />
    <Rule Id="CA2204" Action="Hidden" />
    <Rule Id="CA2205" Action="Hidden" />
    <Rule Id="CA2207" Action="Hidden" />
    <Rule Id="CA2208" Action="Hidden" />
    <Rule Id="CA2210" Action="Hidden" />
    <Rule Id="CA2211" Action="Hidden" />
    <Rule Id="CA2212" Action="Hidden" />
    <Rule Id="CA2213" Action="Hidden" />
    <Rule Id="CA2214" Action="Hidden" />
    <Rule Id="CA2215" Action="Hidden" />
    <Rule Id="CA2216" Action="Hidden" />
    <Rule Id="CA2217" Action="Hidden" />
    <Rule Id="CA2218" Action="Hidden" />
    <Rule Id="CA2219" Action="Hidden" />
    <Rule Id="CA2220" Action="Hidden" />
    <Rule Id="CA2221" Action="Hidden" />
    <Rule Id="CA2222" Action="Hidden" />
    <Rule Id="CA2223" Action="Hidden" />
    <Rule Id="CA2224" Action="Hidden" />
    <Rule Id="CA2225" Action="Hidden" />
    <Rule Id="CA2226" Action="Hidden" />
    <Rule Id="CA2227" Action="Hidden" />
    <Rule Id="CA2228" Action="Hidden" />
    <Rule Id="CA2229" Action="Hidden" />
    <Rule Id="CA2230" Action="Hidden" />
    <Rule Id="CA2231" Action="Hidden" />
    <Rule Id="CA2232" Action="Hidden" />
    <Rule Id="CA2233" Action="Hidden" />
    <Rule Id="CA2234" Action="Hidden" />
    <Rule Id="CA2235" Action="Hidden" />
    <Rule Id="CA2236" Action="Hidden" />
    <Rule Id="CA2237" Action="Hidden" />
    <Rule Id="CA2238" Action="Hidden" />
    <Rule Id="CA2239" Action="Hidden" />
    <Rule Id="CA2240" Action="Hidden" />
    <Rule Id="CA2241" Action="Hidden" />
    <Rule Id="CA2242" Action="Hidden" />
    <Rule Id="CA2243" Action="Hidden" />
    <Rule Id="CA5122" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0067" Action="Warning" />
    <Rule Id="IDE0068" Action="Warning" />
    <Rule Id="IDE0069" Action="Warning" />
  </Rules>
</RuleSet>